extends layout

block content
  form(method='POST' action='')
    div.form-group
      label(for='name') Nom:
      input#name.form-control(type='text' name='name' required='true' value=(undefined === item ? '' : item.name) )
    div.form-group
      label(for='price') Prix:
      input#price.form-control(type='number' name='price' step=0.01 required='true' value=(undefined === item ? '' : item.price) )
    div.form-group
      label(for='category') Rayon:
      select#category.form-control(name='category' required='true')
        for category in categories
          option(value=category._id, selected=category._id===item.categoryId) #{category.name}
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(name='description' rows=5 required='true')=item.description
    button.btn.btn-primary(type='submit') Valider

